<ul class="nav nav-tabs" *ngIf="authService.isAuthenticated()">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { primary: 'messages', detail: null } }]"
      >Messages</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { primary: 'contacts', detail: null } }]"
      >Contacts</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { primary: 'preferences', detail: null } }]"
      >Preferences</a
    >
  </li>
</ul>
